.venv
models/*
gdrive_key.json
.idea/*
t5/service_account.json
notebooks/.ipynb_checkpoints/*
mapVis/*
.DS_store
t5/results/*

notebooks/LLama-2-7b-chat-finetune/*
notebooks/results

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
notebooks/results-v3

aws/*
awscliv2.zip
**/__pycache__/*

local.env