transformers
datasets
torch
torchvision
torchaudio
accelerate
fitz
jupyter
pydrive2
pandas
google-auth
google-auth-oauthlib
matplotlib
seaborn
plotly
geopandas
folium
pyogrio
fiona
contextily
mplleaflet
sentencepiece